.flex_container{
    border: 2px solid green;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
}

.item{
    min-width: 100px ;
    max-width: 200px;
    min-height: 150px;
    background-color: red;
    margin: 0.7rem;
    flex: 1;
}